body {font-family: "Lato", sans-serif;}

.sidebar {
  height: 100%;
  width: 400px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  color: black;
  overflow-x: hidden;
  padding-top: 16px;
  border: 0.5px solid gray;
}




.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}